<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Task Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico" type="image/png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="base-layout">
    <div class="header">
      <div class="logo">
        Task Manager
      </div>
    </div>
    <div class="content">
      <div class="tabs">
        <%= link_to "Tasks", tasks_path, class: "tab", id: "tasks-tab" %>
        <%= link_to "Projects", projects_path, class: "tab", id: "projects-tab" %>
      </div>

      <!-- This will display the main content of tasks or projects -->
      <div class="tab-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>


<script>
    $(document).on("DOMContentLoaded", function () {
        const tasksTab = document.getElementById("tasks-tab");
        const projectsTab = document.getElementById("projects-tab");

        if (window.location.pathname.includes("projects")) {
            projectsTab.classList.add("active");
        } else {
            tasksTab.classList.add("active");
        }
    })
</script>